td{
	background-color:black;
	height:200px;
	width:100px;
	border: 6px solid white;
}

.art{
	margin:auto; 
}

h1{
	text-align:center;
}

#one{
	background-color:#DAD2D8;
}

#two{
	background-color:#325FA2;
}

#three{
	background-color:#123642;
}

#four{
	background-color:#EC9A29;
}

#five{
	background-color:#A8201A; 
}